.title-item {
    font-size: 14px;
    margin-bottom: -13px;
    margin-top: -7px;

    ion-col {
        color: var(--ion-color-primary);
    }
}

.product-columns {
    font-size: 11px;
}

ion-ripple-effect {
    color: var(--ion-color-primary);
}

ion-title {
    font-size: 24px;
}