<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/details"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary">
    <h1>{{produto.nome}}</h1>
  </ion-text>

  <ion-card *ngFor="let produto of produtos">
    <ion-card-header>
      <ion-card-title>
        {{produto.fornecedor}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-chip name="chip-qtd" color="primary" outline>{{produto.qtd}} {{produto.unidade}}</ion-chip>
      </div>
      <div>
        <ion-chip name="chip-valor" color="primary" outline>{{produto.valor | currency}}</ion-chip>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>


<!-- <ion-footer translucent="true">
  <ion-toolbar color="primary">
    <div >
      <div>
        <ion-text><span>200 produtos</span></ion-text>
      </div>
      <div>
        <ion-text><span>{{100 | currency}}</span></ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-footer> -->