<ion-content padding>
    <ion-item lines="none" class="label-product">
        <ion-label color="primary">{{ produto.nome }} </ion-label>
        <ion-icon color="primary" name="nutrition"></ion-icon>
    </ion-item>

    <ion-item lines="inset">
        <ion-label position="stacked">Fornecedor</ion-label>
        <ion-input [(ngModel)]="produtoComprado.fornecedor" type="text" placeholder="Digite o Fornecedor"></ion-input>
    </ion-item>

    <div class="item-peso-und">
        <ion-item lines="inset">
            <ion-label position="stacked">Unidade</ion-label>
            <ion-select [(ngModel)]="produtoComprado.tipo" placeholder="unidade">
                <ion-select-option *ngFor="let unidade of unidades" value="{{unidade.tipo}}">{{unidade.tipo}}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item lines="inset">
            <ion-label position="stacked">Quantidade</ion-label>
            <ion-input [(ngModel)]="produtoComprado.qtd" align="left" type="number" placeholder="quantidade">
            </ion-input>
            <ion-note slot="end">
                <ion-text>/ {{ produto.qtd }} </ion-text>
            </ion-note>
        </ion-item>
    </div>

    <ion-item lines="inset">
        <ion-label position="stacked">Peso</ion-label>
        <ion-input [(ngModel)]="produtoComprado.peso" type="text" placeholder="peso"></ion-input>
    </ion-item>

    <ion-item lines="inset">
        <ion-label position="stacked">Valor</ion-label>
        <ion-input [(ngModel)]="produtoComprado.valor" type="number" placeholder="valor pago"></ion-input>
    </ion-item>

    <ion-item lines="none">
        <ion-button (click)="cancel()" fill="outline" slot="end" color="primary" shape="round">Cancelar</ion-button>
        <ion-button (click)="save()" slot="end" color="primary" shape="round">Salvar</ion-button>
    </ion-item>
</ion-content>