@import '~@angular/material/theming';
$fontsize:13px;



ion-note {
    margin-top: auto;
    margin-bottom: initial;
    font-size: $fontsize;
}

ion-item {

    padding-bottom: 12px;
    --highlight-height: 1.5px;
    --highlight-color-focused: var(--ion-color-primary);
    --highlight-color-invalid: var(--ion-color-danger);
    --highlight-color-valid: var(--ion-color-primary);


    ion-label {
         color: var(--ion-color-primary); 
    }
}

.label-product {
    font-size: 16px;
    text-align: center !important;
 
    
    .label-quantidade{
        display: block;        
        font-size: 13px;
        color:var(--ion-color-medium-shade)
    }
}

.peso-field{
    width: 100%;
}

.item-peso-qtd { 
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.item-quantidade {
    display: flex;
    position: relative;
    margin-left: auto;
}

ion-select {
    font-size: $fontsize;
    min-width: 110px;
    max-width: auto;
    --padding-start: 0;
}

ion-input {
    font-size: $fontsize;
}


.error-message {
    margin-left: 5px;
    font-size: 10px;
    color: var(--ion-color-danger)
}

.form {
    min-width: 150px;
    max-width: 650px;
    width: 100%;
    display: block;

}

.input-fornecedor {
    text-transform: uppercase;
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.example-item {
    /*  height: 50px; */
}

.fornecedor-field {
   width: 100%;
   max-width: 650px;
   min-width: 150px;
   padding-left: calc(var(--padding-start) + var(--ion-safe-area-left, 0px));
}

.buttons-save-cancel {
    display: flex;
    width: 100%;
    padding: 10px;


    ion-button {
        font-size: 11px;
        padding-right: 20px;
    }
}