<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="app/tabs/tab2"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div>
        <!-- <ion-item lines="none" class="label-product"> -->
        <div class="label-product">
            <ion-label color="primary">
                <ion-icon color="primary" name="nutrition"></ion-icon> {{ PRODUCT_NAME }}
            </ion-label>
            <ion-label class="label-quantidade">{{PRODUCT_QTD_PEDIDA}} {{PRODUCT_UNIDADE}}(s)</ion-label>
        </div>
        <!--  </ion-item> -->
        <form class="form" [formGroup]="formProduct">
            <div>
                <div>
                    <mat-form-field>
                        <!-- class="fornecedor-field" -->
                        <input matInput maxlength="40" type="text" placeholder="Digite o fornecedor"
                            [formControl]="fornecedorFormControl" [matAutocomplete]="auto"
                            [(ngModel)]="produtoComprado.fornecedor">
                        <mat-autocomplete color="primary" #auto="matAutocomplete">

                            <mat-option class="example-item" *ngFor="let option of filteredOptions | async | slice:0:9 "
                                [value]="option.FANTASIA">
                                {{option.FANTASIA}}
                            </mat-option>

                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div>
                    <ng-container *ngFor="let validation of validationMessages.fornecedor">
                        <div class="error-message"
                            *ngIf="formProduct.hasError(validation.type) && (formProduct.get('fornecedor').dirty || formProduct.get('fornecedor').touched)">
                            {{validation.message}}
                        </div>
                    </ng-container>
                </div>
            </div>
            <div>
                <div>
                    <!--  <ion-item lines="inset">
                            <ion-label position="stacked">Unidade</ion-label>
                            <ion-select (ionChange)="setDisabled(produtoComprado.unidadeComprada)"
                                [(ngModel)]="produtoComprado.unidadeComprada" placeholder="unidade"
                                formControlName="unidade">
                                <ion-select-option *ngFor="let unidade of unidades" value="{{unidade.tipo}}">
                                    {{unidade.tipo}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item> -->
                    <mat-form-field>
                        <mat-select [(ngModel)]="produtoComprado.unidadeComprada" placeholder="Unidade"
                            formControlName="unidade">
                            <mat-option *ngFor="let unidade of unidades" value="{{unidade.tipo}}">{{unidade.tipo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <ng-container *ngFor="let validation of validationMessages.unidade">
                        <div class="error-message"
                            *ngIf="formProduct.get('unidade').hasError(validation.type) && (formProduct.get('unidade').dirty || formProduct.get('unidade').touched)">
                            {{validation.message}}
                        </div>
                    </ng-container>
                </div>

            </div>
            <div class="item-peso-qtd">
                <div>
                    <div>
                        <!-- <ion-item class="item-quantidade" lines="inset">
                            <ion-label position="stacked">Quantidade</ion-label>
                            <ion-input [(ngModel)]="produtoComprado.qtd" align="left" type="number"
                                placeholder="quantidade" formControlName="quantidade">
                            </ion-input>
                        </ion-item> -->
                        <mat-form-field>
                            <input [(ngModel)]="produtoComprado.qtd" formControlName="quantidade" matInput type="number"
                                placeholder="Quantidade">
                        </mat-form-field>
                    </div>
                    <div>
                        <ng-container *ngFor="let validation of validationMessages.quantidade">
                            <div class="error-message"
                                *ngIf="formProduct.get('quantidade').hasError(validation.type) && (formProduct.get('quantidade').dirty || formProduct.get('quantidade').touched)">
                                {{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="peso-field">
                    <div >
                        <!--  <ion-item [disabled]="disabled" lines="inset">
                        <ion-label position="stacked">Peso</ion-label>
                        <ion-input [(ngModel)]="produtoComprado.peso" type="number" placeholder="peso" value="1"
                            formControlName="peso"></ion-input>
                    </ion-item> -->
                        <mat-form-field>
                            <input [(ngModel)]="produtoComprado.peso" formControlName="peso" matInput type="number"
                                placeholder="Peso" value="1">
                        </mat-form-field>
                    </div>
                    <div>
                        <ng-container *ngFor="let validation of validationMessages.peso">
                            <div class="error-message"
                                *ngIf="formProduct.get('peso').hasError(validation.type) && (formProduct.get('peso').dirty || formProduct.get('peso').touched)">
                                {{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <!-- <ion-item lines="inset">
                        <ion-label position="stacked">Valor</ion-label>
                        <ion-input [(ngModel)]="produtoComprado.valor" type="number" placeholder="valor pago"
                            formControlName="valor"></ion-input>
                    </ion-item> -->
                    <mat-form-field>
                        <input [(ngModel)]="produtoComprado.valor" formControlName="valor" matInput type="number"
                            placeholder="Valor">
                    </mat-form-field>
                </div>
                <div>
                    <ng-container *ngFor="let validation of validationMessages.valor">
                        <div class="error-message"
                            *ngIf="formProduct.get('valor').hasError(validation.type) && (formProduct.get('valor').dirty || formProduct.get('valor').touched)">
                            {{validation.message}}
                        </div>
                    </ng-container>
                </div>
            </div>
        </form>
        <div class="buttons-save-cancel">
            <div>
                <ion-button (click)="cancel()" fill="outline" slot="end" color="primary" shape="round" size="default">
                    Cancelar
                </ion-button>
            </div>
            <div>
                <ion-button #ionButton [disabled]="formProduct.invalid" (click)="save()" slot="end" color="primary"
                    shape="round" size="default">
                    Salvar
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>