$fontsize:13px;

.label-product {
    font-size: 14px;
    text-align: center !important;
}

ion-note {
    margin-top: auto;
    margin-bottom: initial;
    font-size: $fontsize;
}

ion-item {
    margin-bottom: 15px;
    --highlight-height: 2px;
    --highlight-color-focused: var(--ion-color-primary);
    --highlight-color-invalid: var(--ion-color-danger);
    --highlight-color-valid: var(--ion-color-primary);

    ion-label {
        color: var(--ion-color-primary);
    }
}

ion-content {
    --overflow: hidden;
}

.item-peso-qtd {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.item-quantidade {
    display: flex;
    position: relative;
    margin-left: auto;
}

ion-select {
    font-size: $fontsize;
    min-width: 110px;
    max-width: auto;
    --padding-start: 0;
}

ion-input {
    font-size: $fontsize;
}