<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="terms" animated placeholder="Pesquise por produto">
  </ion-searchbar>

  <ion-segment (ionChange)="getProducts($event.detail.value)" value="F" padding>
    <ion-segment-button value="F">
      <ion-label>Frutas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="V">
      <ion-label>Verduras</ion-label>
    </ion-segment-button>
    <ion-segment-button value="L">
      <ion-label>Legumes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card>
    <ion-item class="title-item" lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="7">
            Nome
          </ion-col>
          <ion-col align="right">
            Qtd
          </ion-col>
          <ion-col align="right">
            Unidade
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <br>
    <div *ngFor="let produto of produtos | search:terms">
      <ion-list>
        <ion-item-sliding>
          <ion-item lines="none" (click)="openModal(produto)" class="product-columns">
            <ion-grid>
              <ion-row class="ion-activatable">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-col class="item-col-nome" size="7">
                  <ion-text> {{ produto.nome }} </ion-text>
                </ion-col>
                <ion-col align="right">
                  <ion-text> {{produto.qtd}}</ion-text>
                </ion-col>
                <ion-col class="col-unidade" align="right">
                  <ion-text>{{produto.unidade}}</ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item-options (ionSwipe)="goToProductDetail(produto)">
            <ion-item-option (click)="goToProductDetail(produto)" expandable="true" color="primary">
              <ion-text>Detalhes</ion-text>
              <ion-icon slot="top" name="information-circle-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </ion-card>



</ion-content>