<ion-header>
  <ion-toolbar>
    <ion-title>Pedidos</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="refresh()" color="primary">
        <ion-icon class="icon-refresh-toolbar" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="terms" animated placeholder="Pesquise por produto">
  </ion-searchbar>

  <ion-segment [(ngModel)]="segmentValue" (ionChange)="getProducts($event.detail.value)" value="segmentValue">
    <ion-segment-button value="F">
      <ion-label>Frutas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="V">
      <ion-label>Verduras</ion-label>
    </ion-segment-button>
    <ion-segment-button value="L">
      <ion-label>Legumes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card>
    <ion-item class="title-item" lines="none">
      <div class="title-item">

        <div class="title-nome">
          <ion-text color="primary"> Nome</ion-text>
        </div>

        <div class="title-qtd">
          <ion-text color="primary">Qtd</ion-text>
        </div>

        <div class="title-und">
          <ion-text color="primary">Unidade</ion-text>
        </div>

      </div>
    </ion-item>
    <br>
    <ion-list>
      <div *ngFor="let produto of apiProduct.ProdutoPedido | search:terms">
        <ion-item-sliding>
          <ion-item class="ion-activatable" lines="none" (click)="addProduct(produto)" detail>
            <ion-ripple-effect></ion-ripple-effect>
            <div [ngClass]="{'changeColor': verifyIfAlreadyBought(produto) }" class="produto-item">
              <div class="produto-item-nome">
                {{ produto.nome }}
              </div>
              <div class="produto-item-qtd">
                {{ produto.qtd }}
              </div>
              <div class="produto-item-und">
                {{ produto.unidade }}
              </div>
            </div>
          </ion-item>
          <ion-item-options (ionSwipe)="goToProductDetail(produto)">
            <ion-item-option (click)="goToProductDetail(produto)" expandable="true" color="primary">
              <ion-text>Detalhes</ion-text>
              <ion-icon slot="top" name="information-circle-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </div>
    </ion-list>
  </ion-card>

  <ion-fab (click)="presentAlertFinish()" *ngIf="getFinishButton() && hasDataInArray()" vertical="bottom"
    horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>