ion-button {
    font-size: 13px;
}

ion-title {
    font-size: 19px;
    text-align: center;
}

.col-unidade {
    font-weight: 650;
}

.icon-refresh-toolbar {
    font-size: 27px;
}

.title-item {
    display: flex;
    width: 100%;
    margin-bottom: -13px;
    margin-top: -7px;
    font-size: 13px;

    .title-nome {
        margin-right: auto;
        width: 100%;
        max-width: 50%;
        text-align: left;
    }

    .title-qtd {
        margin-left: auto;
        width: 100%;
        max-width: 25%;
        text-align: center;
    }

    .title-und {
        margin-left: auto;
        width: 100%;
        max-width: 25%;
        text-align: right;
    }

    /*  ion-col {
        color: var(--ion-color-primary);
    } */
}

.produto-item {

    display: flex;
    width: 100%;
    font-size: 11px;

    .produto-item-nome {
        margin-right: auto;
        max-width: 50%;
        width: 100%;
        text-align: left;

    }

    .produto-item-qtd {
        margin-left: auto;
        max-width: 25%;
        width: 100%;
        text-align: center;
    }

    .produto-item-und {
        margin-left: auto;
        max-width: 25%;
        width: 100%;
        text-align: right;
    }

}


.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.example-item {
    height: 50px;
}

ion-item-option {
    padding-right: 25px;
    text-transform: none;

    ion-icon {
        font-size: 18px;
    }
}

ion-ripple-effect {
    color: var(--ion-color-primary);
}

ion-searchbar {
    color: var(--ion-color-dark);
    --icon-color: var(--ion-color-primary);
    --placeholder-color: var(--ion-color-dark);
}