<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="terms" animated placeholder="Pesquise por produto">
  </ion-searchbar>
  <ion-list>
    <ion-card>
      <ion-card-content>
        <ion-item lines="none" *ngFor="let produto of Produtos | search : terms " detail>
          <ion-button (click)="goToProduct(produto)" fill="clear"> {{produto.nome}} </ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>