ion-button {
    font-size: 13px;
}

ion-title {
    font-size: 24px;
    position: relative;
}

.col-unidade {
    font-weight: 650;
}

.title-item {
    font-size: 14px;
    margin-bottom: -13px;
    margin-top: -7px;

    ion-col {
        color: var(--ion-color-primary);
    }
}

.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

.example-item {
    height: 50px;
}

ion-item-option {
    padding-right: 25px;
    text-transform: none;

    ion-icon {
        font-size: 18px;
    }
}

.product-columns {
    font-size: 11px;
}

ion-ripple-effect {
    color: var(--ion-color-primary);
}

ion-searchbar {
    color: var(--ion-color-dark);
    --icon-color: var(--ion-color-primary);
    --placeholder-color: var(--ion-color-dark);
}